<nav class="navbar shadow-sm">
    <div class="dropdown" *ngIf="auth.user | async as user; else showLogin">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{user.email}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="goHome()" ngbDropdownItem>Hem</button>
                    <button (click)="goToSettings()" ngbDropdownItem>Inställningar</button>
                    <hr>
                    <button style="color: red;" (click)="logOut()" ngbDropdownItem>Logga ut</button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #showLogin | async>
        <button (click)="goToLogin()" class="btn btn-primary">Logga in</button>
    </ng-template>
</nav>