/* PHONE SCREEN SETTINGS */
@media screen and (max-width: 768px){

    .signin-container {
        padding: 0;
        display: block!important;
        justify-content: center!important;
    }

    .card {
        padding-inline: 1rem!important;
        border: none!important;
        box-shadow: none!important;
        background-color: #FDFDFD!important;
    }

    .img {
        margin-bottom: 0!important;
    }

    .img-container {
        display: flex;
        align-items: center!important;
        justify-content: center!important;
    }
}

.signin-container {
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
}

.message {
    padding: .2rem!important;
}

.img-container {
    margin-top: 2rem;
}

.img {
    margin-bottom: 2rem;
    width: 80px;
}