<div class="d-flex container signin-container">
    <div class="img-container">
        <img class="img" src="../../../assets/images/R2.png">
    </div>
    <div class="col-lg-5 col-md-8 card shadow">
        <p class="fs-1 text-center">Logga in</p>
        <form [formGroup]="form">
            <div class="form-floating">
                <input id="emailInput" type="email" placeholder="E-post" class="form-control" formControlName="email">
                <label for="emailInput">E-post</label>
            </div>
            <div class="form-floating">
                <input id="passwordInput" type="password" placeholder="Lösenord" class="form-control"
                    formControlName="password">
                <label for="passwordInput">Lösenord</label>
            </div>
            <div class="alert alert-danger message text-center" test-id="error-message" role="alert"
                *ngIf="errorLoggingIn || errorRecoveringPassword">
                {{errorMessage}}
            </div>
            <div class="alert alert-success message text-center" test-id="success-message" role="alert"
                *ngIf="SuccessRecoveringPassword">
                {{successMessage}}
            </div>
            <hr>
            <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-sm btn-link link-secondary" *ngIf="!isRecoveringPassword" [disabled]="!form.get('email')!.valid"
                    test-id="recover-password-button" (click)="recoverPassword()">glömt lösenord</button>
                    <button type="button" class="btn btn-sm btn-link link-secondary" *ngIf="isRecoveringPassword"
                    test-id="recover-password-loader"><div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div></button>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" [disabled]="!form.valid" (click)="login()" *ngIf="!isLoggingIn"
                    test-id="login-button">
                    Logga in
                </button>
                <button class="btn btn-primary" *ngIf="isLoggingIn" test-id="login-loader">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                <button class="btn btn-outline-secondary">Skapa konto</button>
            </div>
        </form>
    </div>
</div>