@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Fredoka+One&family=Lexend:wght@400;600&family=Montserrat:wght@400;600&family=STIX+Two+Text:wght@700&display=swap');

/* Variables */
:root {

    /* COLORS */
    --primary-color: #24595A;
    --primary-color-hover: #1e4a4b;
    --secondary-color: #2c8789;

    /* Experimental colors */
    --orange-cta: #eda85a;
    --orange-cta-2: #db742f;
    --orange-cta-2-hover: #b4612a;
}

body{
    position: relative;
    background-color: #FDFDFD;
    color: black;
    font-family: 'Lexend', sans-serif;
}

.card {
    border-radius: 0;
    padding-inline: 2rem;
    padding-block: 4rem;
}

/* btn-primary */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}
    .btn-primary:hover {
        background-color: var(--primary-color-hover);
        border-color: var(--primary-color);
    }
    .btn-primary:disabled {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }
    